global
  ulimit-n  1048575
  chroot /var/lib/haproxy
  pidfile /var/run/haproxy.pid
  stats socket /var/lib/haproxy/stats
  daemon

defaults
  mode tcp
  timeout connect 5000
  timeout client  50000
  timeout server  50000

listen http
  bind *:80
  server ingress 10.62.14.159:80 send-proxy-v2

listen https
  bind *:443
  server ingress 10.62.14.159:443 send-proxy-v2
